@{
    int sno = 1;
}
<form id="frmAccount">
    <div class="x_content" id="clientlist">
        <table class="table table-striped responsive-utilities jambo_table bulk_action customTable" id="tbl_Account">
            <thead>
                <tr class="heading">
                    <th><input type="checkbox" name="chemeli" class="checkbox" id="chkqcInboxGroup" /></th>
                    <th class="sorting"><label>S.No</label></th>
                    <th style="display:none"><label>Error ID</label></th>
                    <th><label>Error Type</label></th>
                    <th><label>Error Category</label>
                    <th><label>Sub_Category</label>
                    <th><label>UPDATED BY</label></th>
                    <th><label>UPDATED DATE</label></th>
                    @*<th><label>Edit Column</label></th>
                        <th><label>Delete Column</label></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (System.Data.DataRow row in Model.Rows)
                {
                    <tr>
                        <td><input type="checkbox" class="checkbox allotChk chk_@Convert.ToInt32(sno)" id="chk_@Convert.ToInt32(sno)" onclick="TestClick()" /></td>
                        <td id=@Convert.ToInt32(sno)>@Convert.ToInt32(sno)</td>

                        @Html.HiddenFor(x => row[0], new { @id = "btId" })
                        @foreach (var cell in row.ItemArray)
                        {
                            <td>@cell.ToString() </td>
                        }
                        @*<td><u><a onclick="EditClient('@row[0]')" class="btn btn-success">Edit Column</a></u></td>
                            <td><u><a class="btn btn-info" onclick="DeleteClient('@row[0]')">Delete Column</a></u></td>*@
                    </tr>
                        sno++;
                }

            </tbody>

        </table>

        <input type="text" value="" id="txtHidden" style="display:none" />
    </div>



</form>
<script>

    $(document).ready(function () {
        $('#tbl_Account').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "columnDefs": [
                        {
                            "targets": [1],
                            "bSortable": false,
                        },
                        {
                            "targets": [2],
                            "visible": false

                        }
            ]

        });

    });  

    $("#chkqcInboxGroup").click(function () {
        $(".allotChk").prop('checked', $(this).prop('checked'));
        TestClick();
    });

    function TestClick() {
        var countImagesWithoutSrc = 0;
        var all = new Array();
        var tableControl = document.getElementById('tbl_Account');
        $('input:checkbox:checked', tableControl).each(function () {

            checkList.push($(this).attr("id"));
            all[countImagesWithoutSrc] = $(this).closest('tr').find('#btId').val();
            ++countImagesWithoutSrc;

        }).get();

        $('#txtHidden').val(all);
        //alert($('#txtHidden').val());
        //alert($('#txtHidden').val());
    }
</script>
